*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html{
    scroll-behavior: smooth;
}
nav ul li a{
    text-transform: uppercase;
    transition: transform 0.5s;
}
nav ul li a:hover{
color: orange;
transform: scale(1.05);
}


.container{
    width: 100%;
    height: 100vh;
}
.content h1{
    color: black;
    padding-top: 5%;
    font-size: 80px;
    padding-left: 50px;
}
.wave{
    position: absolute;
    left: 28%;
    margin-top: 65px;
}
.content p{
    color: darkgrey;
    padding-left: 50px;
    padding-top: 20px;
    line-height: 25px;
    font-size: 20px;
}
span{
    font-style: italic;
    font-size: 65px;
    color: orange;
}
.content img{
    position: absolute;
    right: 5%;
    top: 12%;
    width: 500px;
    height: 500px;
    padding-right: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;

}
.head-image{
    transition: transform 0.5s;
    display: block;
}
.head-image:hover{
    transform: scale(1.1);
}

/* ----Skillspage---- */
#container2{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    

}
#container2 h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
#container2 h1::after{
    content: '';
    background: orange;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 4%;
}
.service{
    text-align: center;
    padding: 25px 10px;
    font-size: 15px;
    transition: background 0.5s, transform 0.5s;
    border-radius: 5px;
    background: transparent;

}
.service h1{
    padding-bottom: 15px;
    color: white;
}
.service h2{
    font-weight: 600;
    margin-bottom: 8px;
   
}
.service:hover{
    background: orange;
    color: white;
    transform: scale(1.05);
}
.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: orange;
}
.service:hover i{
    color: white;
}

/* --------------------------About Me------------------------- */
#header-text h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
  }
  
  #header-text h1::after{
    content: '';
    background: orange;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

.second-section{
    margin: 4%;
    position: absolute;
    left: 45%;
    width: 100%;
    height: 100vh;
    
}
.second-section h2{
    color: black;
    margin-bottom: 40px;
    font-size: 70px;
    padding-left: 90px;
    text-align: left;


}
.second-section p{
    color: darkgrey;
    padding-left: 90px;
    line-height: 25px;
    font-size: 20px;
    
   
    
}

.second-section button{
    padding: 20px 40px;
    background: black;
    border: 0;
    outline: 0;
    margin-top: 40px;
    margin-left: 90px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
}
.peace{
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 480px;
    height: 480px;
    margin-left: 120px;
    margin-bottom: 100px;
   
    
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
    
   
}

nav ul li{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 50px;
    padding-left: 50px;
   justify-content: space-between;
   text-decoration: none;
   font-weight: 600;

}
nav ul li a{
    text-decoration: none;
    color: black;
}


.social-links{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 20px;

}
.social-links i{
    margin: 10px;
}
.social-links i:hover{
    color: orange;
    
}


/* ----------------------Projects------------------------------------------ */
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), orange);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;

}
.project-container h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
.project-container h1::after{
    content: '';
    background: orange;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.layer a{
    margin-top: 20px;
    color: orange;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover  .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid orange;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: background 0.5s;
}
.btn:hover{
    background: orange;
    color: white;
   
}
.project-container{
    padding: 50px 50px;
    margin-bottom: 10%;
}





/* ---------------------------Video Section----------------------- */

#container5 {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    margin-top: 100px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
  
  .video-background {
    width: 100%;
    height: auto;
  }
  
  .text-section{
    color: white;
    margin: 18%;
    line-height: 45px;
    text-align: center;
    justify-content: center;
    font-size: 25px;
  }
   

.text-section h1{
    margin-bottom: 30px;
    font-weight: 600;
}
  .text-section p{
    font-size: 20px;
    line-height: 1.5;
  }
  
  button {
    padding: 15px 25px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    margin-top: 40px;
  }
  




/* ------------------------Partners----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container-slide{
    margin-top: 75%;
    width: 100%;
    height: 100vh;
}
.container-slide h1{
   text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
.container-slide h1::after{
    content: '';
    background: orange;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}




/* --------------------------Contact--------------------------- */


.contact-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 100px;
    margin-bottom: 150px;
}

.contact-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("images/Peace2.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.right h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 15px;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: orange;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: 0.3s;
    border-radius: 10px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn2{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: orange;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.btn2:hover:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid orange;
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/* ----------------------------------Footer--------------------------------- */

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.rows{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: orange;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .online-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .online-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

/* -----------------------------------Footer--------------------------------------- */


