*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-blend-mode: hue;
}
.content h1{
    color: black;
    padding-top: 7%;
    font-size: 80px;
    padding-left: 70px;
}
.content p{
    color: darkgrey;
    padding-left: 70px;
    padding-top: 20px;
    line-height: 25px;
    font-size: 20px;
}
span{
    font-style: italic;
    font-size: 65px;
    color: orange;
}
.content img{
    position: absolute;
    right: 5%;
    top: 8%;
    width: 550px;
    height: 550px;
    padding-right: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;

}

/* ----Skillspage---- */
.container2{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    

}
.container2 h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
.container2 h1::after{
    content: '';
    background: orange;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 5%;
}
.service{
    text-align: center;
    padding: 25px 10px;
    font-size: 15px;
    transition: background 0.5s, transform 0.5s;
    border-radius: 5px;
    background: transparent;

}
.service h1{
    padding-bottom: 15px;
    color: white;
}
.service h2{
    font-weight: 600;
    margin-bottom: 8px;
   
}
.service:hover{
    background: orange;
    color: white;
    transform: scale(1.05);
}
.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: orange;
}
.service:hover i{
    color: white;
}
.second-section{
    margin: 4%;
    padding-top: 2%;
    position: absolute;
    right: 5%;
    background-blend-mode: hue;
    
}
.second-section h2{
    color: black;
    margin-bottom: 50px;
    font-size: 70px;
    padding-left: 90px;
    padding-bottom: 60px;
    text-align: left;


}
.second-section p{
    position: absolute;
    bottom: 5%;
    color: darkgrey;
    padding-left: 90px;
    line-height: 25px;
    font-size: 20px;
    
   
    
}
.peace{
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 550px;
    height: 550px;
    margin-left: 120px;
    margin-bottom: 100px;
    
}
button{
    padding: 20px 40px;
    background: black;
    border: 0;
    outline: 0;
    border-radius: 50px;
    font-weight: 500px;
    cursor: pointer;
    margin-left: 0px;
    color: #fff;
    font-size: 17px;
    margin-top: 20px;

}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
    
   
}

nav ul li{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 50px;
    padding-left: 50px;
   justify-content: space-between;
   text-decoration: none;
   font-weight: 600;

}
nav ul li a{
    text-decoration: none;
    color: black;
}


.social-links{
    padding-top: 50px;
    padding-left: 70px;
    font-size: 20px;

}
.social-links i{
    margin: 10px;
}
.social-links i:hover{
    color: orange;
    
}


/* ----Projectsection---- */
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), orange);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;

}
.layer h3{
font-weight: 500;
margin-bottom: 20px;

}
.layer a{
    margin-top: 20px;
    color: orange;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover  .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid orange;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    background:orange ;
}

.container4{
    padding: 50px 90px;
    
}
.container4 h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
.container4 h1:after{
content: '';
    background: orange;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/* ----Teamsection---- */

  .row1 {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }
  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  section h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: darkorange;
  }
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: darkorange;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
  }
  .card .img-container {
    width: 8em;
    height: 8em;
    background-color: orange;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  .card img{
    width: 100%;
    border-radius: 50%;
    
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient(orange, orange);
    color: white;
  }
  .card:hover .img-container {
    transform: scale(1.15);
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }



